* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}
:root {
  --primary: #191970;
}
/* reusable style */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

.onePost{
  padding: 50px;
  text-align: justify;
  padding: 50px;
}

.postDiv{
  padding: 20px;
}

.onePost img{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shareme{
  padding: 15px 30px;
  cursor: pointer;
  border: none;
  background-color: black;
  color: #f5f5f5;
  font-size: 20px;
  border-radius: 10px;
  text-align: right;
  margin-top: 10px;
  font-weight: 700;
}

.author {
  cursor: pointer;
  margin: 20px 0;
  color: #191970;
}

.author a{
  text-decoration: none;
}




/* reusable width */
.w-100 {
  width: 100%;
}
.bg-primary {
  background-color: var(--primary);
}
.bg-white {
  background-color: white;
}
.text-white {
  color: white;
}
.text-black {
  color: #1f1f1f;
}
/* ------------------------------------reusable display ------------------------------------*/
.d-grid {
  display: grid;
}
.grid-col-4 {
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}
.grid-col-3 {
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
/* ------------------------------------------- reuseable padding all ------------------------- */

.p {
  padding: 10px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
/* ---------------------------------- reusable margins ---------------------------------- */
.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.m-0 {
  margin: 0;
}

.items-center {
  align-items: center;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

.list-unstyled {
  list-style: none !important;
}
.decoration-none {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
/* navigation bar */
nav a {
  transition: all 0.4s;
}
nav .nav-link:hover {
  background: #2c2cb9;
  box-shadow: inset 0 0 10px 0 rgb(7, 6, 66);
}
.fa-bars {
  cursor: pointer;
  font-size: 25px;
}
#toggle:checked ~ nav ul {
  left: 0 !important;
}
/* navigation end */

/* ----------------------------------------- home page --------------------------------------------- */
.hero {
  background-image: linear-gradient(#000000ba, #000000ba), url(img/myBlog.jpg);
  background-attachment: fixed;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.hero h1{
  font-size: 60px;
}
.message h1{
  font-size: 60px;
}
.section-title {
  font-size: 40px;
}
.post img {
  width: 100%;
  height: 250px;
}
.post h1 {
  margin-bottom: 10px;
}
.post .post-detail {
  padding: 10px;
  text-align: justify;
}
.grid-item {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 5px;
}
/* -------------------------------------------------- home page end----------------------------------------- */

/* --------------------- Contact Page ------------------------*/
.message{
  background-image: linear-gradient(#000000ba, #000000ba), url(img/vector.jpg);
  background-attachment: fixed;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.contact{
  width: 600px;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
}

.contact input{
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.textarea {
  margin-bottom: 20px;
}

.submit-btn{
  background-color: #191970;
  color: #f5f5f5;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
}

/* -------------------------------------------------- blog post----------------------------------------- */
.main .layout {
  display: flex;
  gap: 20px;
}
.layout-left {
  width: 75%;
}
.layout-right {
  width: 25%;
}
.blog-top-second {
  margin-top: 30px;
}
.sidebar {
  margin-top: 100px;
}
.most-recent-post {
  margin-top: 50px;
}
/* layout right */
.layout-right input {
  padding: 10px;
  border-radius: 5px;
}
.search-btn {
  cursor: pointer;
}
.category {
  margin-top: 50px;
}
.category ol {
  margin-left: 20px;
  margin-top: 20px;
}
.category ol li {
  font-weight: bold;
  margin: 5px 0;
}
.font-bold {
  font-weight: bold;
}

.navstiky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* padding: 50px; */
  font-size: 20px;
}

/* responsive css */
@media screen and (max-width: 992px) {
  .main .layout {
    display: flex;
    flex-direction: column;
  }
  .layout-left {
    width: 100%;
  }
  .layout-right {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* nav {
    position: relative;
  } */
  .menu {
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: -1000%;
    background-color: var(--primary);
    align-items: center;
    transition: all 0.4s;
    width: 30%;
    height: 100vh;
    font-size: 20px;
  }


  nav {
    padding: 10px 0;
  }
  .bar {
    display: block;
  }
  .nav-head {
    flex-direction: row-reverse;
  }
  /* reusable grid tamplate */
  .grid-col-4 {
    grid-template-columns: auto auto;
  }
  .grid-col-3 {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 576px) {
  .hero h1 {
    font-size: 36px;
  }
  .grid-col-4 {
    grid-template-columns: auto;
  }
}
